/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  background-color: #4CD3C2;
  color: #363636;
	font-family: 'Lato', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

button:hover {
	opacity: 0.85;
}

button {
  border: 0;
  border-radius: 5px;
}

body {
  width: 100vw;
  display: flex;
  flex: row;
}

main {
 text-align: center;
}

h3 {
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 2%;
	background-color: transparent;
}

p {
	font-size: 15px;
	font-weight: 900;
	background-color: transparent;
}

h1 {
	font-size: 45px;
	font-weight:700;
	margin-bottom: 3%;
}

h2 {
	font-size: 25px;
	font-weight: 800;
	margin-bottom: 3%;
}

.middle {
  width: 60%;
}

.fighter-button:hover {
	opacity: 60%
}

.game-changer {
	background-color: transparent;
}

.game-button,
.rules {
	box-shadow: 1px 1px 3px #26222D;
	padding: 5px;
	margin: 3%;
	background-color: #FFBCBC;
}

.rules {
	padding: 10px;
	width: 500px;
}

.game-changer:hover,
.game-button:hover,
.rules:hover {
	border-color: #ff8e8e;
}

.bar-elements{
    background-color: #B7EFCD;
  }

.sidebar-left {
  text-align: center;
  width: 20%;
  height: 100vh;
  background-color: #B7EFCD;
  justify-content: flex-start;
}

.sidebar-right {
  text-align: center;
  width: 20%;
  height: 100vh;
  background-color: #B7EFCD;
  justify-content: flex-end;
}

.loss-format {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.player {
    max-width: 100px;
    margin-top: 4%;
    margin-bottom: 5%;
}

.emoji {
    max-width: 40px;
}

.battle-zone,
.victory-zone,
.fighter-section {
	margin-top: 10%;
}

.hidden {
	display: none;
}
